{% extends 'base.html'%}
{% block content %}

{% if user.is_authenticated %}

    <h1> Records ...</h1>
    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
          <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Create At</th>
            <th scope="col">ID</th>
          </tr>
        </thead>
        <tbody>
                {% if records %}
                {% for record in records %}
                <tr>
                    <td>{{record.first_name}}</td>
                    <td>{{record.last_name}}</td>
                    <td>{{record.address}}</td>
                    <td>{{record.phone}}</td>
                    <td>{{record.created_at}}</td>
                    <td><a href="{% url 'record' record.id %}">{{record.id}}</a></td>
                </tr>
                {% endfor %}
                {% endif %}

            </tr>
        </tbody>

    </table>
    <!-- {% if records %}
        {% for record in records %}
            {{record.first_name}}
            {{record.address}}
            {{record.phone}}<br/>
        {% endfor %}
    {% endif %} -->

{% else %}

<div class="col-md-6 offset-md-3">
    <h1>Login</h1>
    <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}
        <form>
            <div class="mb-3">
              <!-- <label for="exampleInputEmail1" class="form-label">Email address</label> -->
              <input type="text" class="form-control"  name="username" placeholder="username" required>
            </div>
            <div class="mb-3">
              <!-- <label for="exampleInputPassword1" class="form-label">Password</label> -->
              <input type="password" class="form-control" name="password" placeholder="password" required>
            </div>
            <!-- <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div> -->
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
    </form>
</div>

{% endif %}

{% endblock %}